<div class="post-share">
  <div class="post-date">{{ site.data.settings.sharing_button_prompt }}</div>
  <div class="sharing-icons">
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.github.url }}{{ page.url }}" class="track-click" data-event-name="btn_clk_share_twitter" data-event-location="post_share" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.github.url }}{{ page.url }}&amp;title={{ page.title }}" class="track-click" data-event-name="btn_clk_share_facebook" data-event-location="post_share" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  </div>
</div>
