<!DOCTYPE html>
<html>
<head>
<title>Redirecting...</title>
<meta name="robots" content="noindex">  {% include google-analytics.html %}
<script>
  // Fire the tracking event as soon as the page loads
  gtag('event', 'outbound_click', {
    'link_text': "{{ page.title }}",
    'link_url': "{{ page.redirect_to }}"
  });

  // Redirect to the final destination
  window.location.href = "{{ page.redirect_to }}";
</script>
<meta http-equiv="refresh" content="0; url={{ page.redirect_to }}">
</head>
<body>
  <p>Redirecting to <a href="{{ page.redirect_to }}">{{ page.redirect_to }}</a>...</p>
</body>
</html>