.page-content {
  max-width: 600px;
  display: block;
  margin: 10px auto 10px;
  padding: 0px 10px 10px;
}

.with-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 4 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.with-background.ci-cd {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dqq9t4hyy/image/upload/q_60/v1754263099/ba9ce772-033b-4e99-970a-8362b32ef3cb.webp');
}

.with-background.gen-ai {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dqq9t4hyy/image/upload/q_60/c_fill,g_south,h_350,w_1000/v1751279949/Banner3-GenAIForUnreal_f0xklz.webp');
}

.with-background a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  display: block;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
